body {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 2s ease-out both;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}



